third_party/
local_pkgs/
data/
outputs/*
envs/
!outputs/weights/
outputs/weights/*
!outputs/weights/NO_TRAINED_WEIGHTS.txt

__pycache__/
*.pyc
.pytest_cache/

report/main.aux
report/main.bbl
report/main.blg
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.pdf
report/main.xdv
